@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 8px !important;
  }
  
  .no-scrollbar::-webkit-scrollbar-thumb {
      background-color: rgba(70, 134, 229, 1) !important;
      border-radius: 10px !important;
  }
  .no-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Optional: make track transparent */
  }
  .no-scrollbar {
    padding-right: 8px; /* Adjust as needed */
}

  /* Triangle (Indicator) */
  .profile::after {
    content: "";
    position: absolute;
    top: -20px; 
    left: 20px; 
    width: 20px;
    height: 20px;
    background: white;
    clip-path: polygon(50% 34%, 0% 100%, 100% 100%);
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
  }
}